@{
    ViewData["Title"] = "Home";
}

<h2>@ViewData["Title"]</h2>

<p>Elige una tabla para ver:</p>

<ul>
    <li><a href="/api/Ciudad">Ciudad</a></li>
    <li><a href="/api/Persona">Persona</a></li>
    <li><a href="/api/Cliente">Cliente</a></li>
    <li><a href="/api/Cuentas">Cuentas</a></li>
    <li><a href="/api/Movimientos">Movimientos</a></li>
</ul>
